<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://kevin-rivas.com/iea/app.ipa</string>
		<key>displayImageURL</key>
		<string>https://kevin-rivas.com/iea/icon.png</string>
		<key>fullSizeImageURL</key>
		<string>https://kevin-rivas.com/iea/icon.png</string>
	</dict>
	<key>method</key>
	<string>release-testing</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.rivaslive.accounting</key>
		<string>Kevin Church 2</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>7ZKP2AC4H6</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
